<div style="display:flex; justify-content:space-between"
    class="text-light p-3 rounded mb-2"
    [class.bg-dark]="!item.onSale"
    [class.bg-success]="item.onSale"
    >
    <div >
    
      <div>{{index+1}} {{item.title}}</div>
      <div>{{item.price | currency:"CAD"}} {{ item.dateAdded | date:"MMM dd, yyyy"}}</div>
    </div>
    <div>
      <i *ngIf =!firstItem class="material-icons"
         (click)="swapUp(index)">expand_less</i>

      <i *ngIf =!lastItem class="material-icons"
         (click)="swapDown(index)">expand_more</i>
    </div>
  </div>